<div class="promotion">
    <div class="opensource">{{ opensource }}</div>
    <div class="partners">{{ partners }}</div>
</div>
<div class="copyright">{{ copyright }}</div>
<div class="disclaimer">{{ disclaimer }}</div>