<div class="promotion {% if business %}donate-and-business{% else %}donate-only{% endif %}">
	<div class="donate">{{ donate }}</div>
	{% if business %}<div class="business">{{ business }}</div>{% endif %}
</div>
<div class="copyright">{{ copyright }}</div>
<div class="disclaimer">{{ disclaimer }}</div>