.nested_menu.avisota_config .avisota-logo {
	margin: -18px -18px 0;
	padding: 18px 0;
	background-color: #494949;
	text-align: center;
}
.nested_menu.avisota_config .promotion {
	border: 1px solid #999;
	box-shadow: 0 0 3px #ccc;
	border-radius: 3px;
	margin: 2em 0;
	padding: 1em;
	background-image: linear-gradient(top, #f9f9f9, #eee);
	background-image: -o-linear-gradient(top, #f9f9f9, #eee);
	background-image: -moz-linear-gradient(top, #f9f9f9, #eee);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #eee);
	background-image: -ms-linear-gradient(top, #f9f9f9, #eee);
	overflow: hidden;
}
.nested_menu.avisota_config .promotion * {
	font-size: 14px;
}
.nested_menu.avisota_config .promotion a {
	color: #8ab858;
}
.nested_menu.avisota_config .promotion .donate img,
.nested_menu.avisota_config .promotion .business img {
	float: left;
	margin-right: .66em;
}
.nested_menu.avisota_config .promotion.donate-and-business .donate {
	float: left;
	width: 49%;
}
.nested_menu.avisota_config .promotion .business {
	float: right;
	width: 50%;
}
.nested_menu.avisota_config .copyright,
.nested_menu.avisota_config .disclaimer {
	margin-top: .5em;
}

.header_avisota_generate_salutation {
	background: url("../images/generate_salutations.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

/**
 * View and send dialog
 */
#avisota_message_preview iframe.avisota_message_preview {
	border: 1px inset #bbb;
}
#avisota_message_preview p.new_window {
	text-align: right;
	padding: 2em 0 1em;
	margin-bottom: 0;
}
.tl_form_avisota_inline legend {
	margin: 0 18px;
}
.tl_form_avisota_inline:last-of-type fieldset {
	padding-bottom: 0;
}













.header_send {
	background: url("../../html/send.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.header_recipient_migrate {
	background: url("../images/recipient_migrate.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.header_recipient_import {
	background: url("../images/recipient_import.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.header_recipient_export {
	background: url("../images/recipient_export.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.header_recipient_remove {
	background: url("../images/recipient_remove.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

#contextmenu .header_recipient_migrate,
#contextmenu .header_recipient_import,
#contextmenu .header_recipient_export,
#contextmenu .header_recipient_remove {
	padding: 4px 0 5px 20px;
}

table.outbox {
	border-collapse: collapse;
}

table.outbox th,
table.outbox td {
	padding: .5em;
	vertical-align: middle;
	text-align: left;
}
table.outbox th {
	vertical-align: bottom;
}
table.outbox td {
	border-width: 1px 0;
	border-style: solid;
	border-color: #999;
}

table.outbox td img {
	vertical-align: middle;
}

table.outbox tr:nth-child(odd) td {
	background-color: #eee;
}

table.outbox tr.row_highlight td {
	background-color: #efe;
}

table.outbox span.outstanding {
	font-style: italic;
}

table.outbox span.total {
}

table.outbox span.failed {
	color: red;
}

code {
	font-weight: bold;
}

button img {
	vertical-align: -3px;
	margin-right: 4px;
}
select[disabled] {
	color: #ccc;
}

#transport_error {
	padding: 0 18px 18px;
}
#transport_error pre {
	border: 1px solid #008080;
	background: #C0FFFF;
	padding: 18px;
}
#outbox {
	padding: 0 18px 18px;
}
#outbox h2 {
	margin: 32px 0 9px 0;
	text-align: left;
}
#outbox th,
#outbox td {
	text-align: right;
}
#outbox th {
	padding-right: 6px;
}
#outbox tbody td {
	font-size: 16px;
}
span.negative {
	color: #00f;
}
input.ma-loading {
	background-image: url(../../html/loading.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

/** --- Update -------------------------------------------------------------- */
.header_more {
	background: url("../../html/more.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.versions {
	overflow: hidden;
	margin: 18px 50px 18px;
}
.versions .previous,
.versions .installed {
	width: 260px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ie-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.versions .previous {
	float: left;
	border: 1px solid #000099;
	background: #f9f9ff;
}
.versions .installed {
	float: right;
	border: 1px solid #009900;
	background: #f9fff9;
}
.versions .title {
	display: block;
}
.versions .version {
	display: block;
	font-weight: bold;
	font-size: 32px;
}
fieldset.update legend {
	background-image: none;
}
fieldset.update legend img,
fieldset.update legend input {
	vertical-align: -4px;
}
.updates {
	margin-bottom: 24px;
}
.updates h2 {
	margin: 2px 0 0;
	padding: 2px 6px 3px;
	border: 1px solid #E9E9E9;
	border-width: 1px 0;
	background: #F6F6F6;
}
.updates h2 img,
.updates h2 input {
	vertical-align: -3px;
}
.updates h2 img {
	margin: 0 2px;
}
.updates .description {
	padding: 8px 6px;
	background: white;
}