<div class="promotion {% if business %}donate-and-business{% else %}donate-only{% endif %}">
	<div class="donate">{{ donate }}</div>
</div>
<div class="copyright">{{ copyright }}</div>
<div class="disclaimer">{{ disclaimer }}</div>