<div id="tl_buttons">&nbsp;</div>
<h2 class="sub_headline">{{ _lang.avisota_support.headline }}</h2>
<form class="tl_form">
	<div class="tl_formbody_edit">
		<p>You get informations about professional support soon!</p>
	</div>
	<div class="tl_formbody_submit">
		<div class="tl_submit_container">
			<button>button</button>
		</div>
	</div>
</form>
