{% extends 'avisota/message/renderer/mailchimp/mce_container.html.twig' %}
{% import "avisota/message/renderer/mailchimp/mce_macros.html.twig" as mce %}

{% set headline = headline|deserialize(true) %}
{% set hl = headline.unit ? headline.unit : 'h1' %}
{% set headline = headline.value %}

{% if not linkTitle %}
	{% set linkTitle = url %}
{% endif %}

{% set link = '<a href="' ~ url ~ '" target="_blank">' ~ linkTitle ~ '</a>' %}

{% if embed %}
	{% set link = embed|format(link) %}
{% endif %}

{% block content %}
	{% spaceless %}
		{% if headline %}
			<tr>
				<td><{{ hl }}>{{ headline }}</{{ hl }}></td>
			</tr>
		{% endif %}
		<tr>
			<td>{{ link }}</td>
		</tr>
	{% endspaceless %}
{% endblock %}
