@CHARSET "UTF-8";

.header_send {
	background: url("send.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.header_recipient_import {
	background: url("recipient_import.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.header_recipient_remove {
	background: url("recipient_remove.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

table.outbox {
	border-collapse: collapse;
}

table.outbox th,
table.outbox td {
	padding: .5em;
	vertical-align: middle;
	text-align: left;
}
table.outbox th {
	vertical-align: bottom;
}
table.outbox td {
	border-width: 1px 0;
	border-style: solid;
	border-color: #999;
}

table.outbox td img {
	vertical-align: middle;
}

table.outbox tr:nth-child(odd) td {
	background-color: #eee;
}

table.outbox tr.row_highlight td {
	background-color: #efe;
}

table.outbox span.outstanding {
	font-style: italic;
}

table.outbox span.total {
}

table.outbox span.failed {
	color: red;
}

code {
	font-weight: bold;
}
