@CHARSET "UTF-8";
@import url(../jqplot/jquery.jqplot.css);

.header_send {
	background: url("send.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.header_recipient_tools {
	background: url("recipient_tools.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.header_recipient_migrate {
	background: url("recipient_migrate.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.header_recipient_import {
	background: url("recipient_import.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.header_recipient_export {
	background: url("recipient_export.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

.header_recipient_remove {
	background: url("recipient_remove.png") no-repeat scroll left center transparent;
	padding: 2px 0 3px 20px;
}

#contextmenu .header_recipient_migrate,
#contextmenu .header_recipient_import,
#contextmenu .header_recipient_export,
#contextmenu .header_recipient_remove {
	padding: 4px 0 5px 20px;
}

table.outbox {
	border-collapse: collapse;
}

table.outbox th,
table.outbox td {
	padding: .5em;
	vertical-align: middle;
	text-align: left;
}
table.outbox th {
	vertical-align: bottom;
}
table.outbox td {
	border-width: 1px 0;
	border-style: solid;
	border-color: #999;
}

table.outbox td img {
	vertical-align: middle;
}

table.outbox tr:nth-child(odd) td {
	background-color: #eee;
}

table.outbox tr.row_highlight td {
	background-color: #efe;
}

table.outbox span.outstanding {
	font-style: italic;
}

table.outbox span.total {
}

table.outbox span.failed {
	color: red;
}

code {
	font-weight: bold;
}

button img {
	vertical-align: -3px;
	margin-right: 4px;
}
select[disabled] {
	color: #ccc;
}

#loading {
	float: right;
}
#outbox {
	padding: 0 18px 18px;
}
#outbox h2 {
	margin: 32px 0 9px 0;
	text-align: left;
}
#outbox th,
#outbox td {
	text-align: right;
}
#outbox th {
	padding-right: 6px;
}
#outbox tbody td {
	font-size: 16px;
}
span.negative {
	color: #00f;
}

/** --- Tracking ------------------------------------------------------------ */
#graphs {
	margin: 0 18px;
}
#graphs #overview {
}
#links {
	margin: 0 18px;
}
#links table {
	width: 100%;
}
#links th.url {
	text-align: left;
}
#links th.hits,
#links td.hits {
	text-align: right;
}
#links th,
#links td {
	padding: 4px 0;
}
#links td {
	border-top: 1px solid #999;
}
